body {
    /*font-family: tahoma !important;*/
    font-size: .875rem;
    background-color: #efefef;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    padding-top: 1em;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  /*Costom style app-qr-station (index)*/
  .btn-scale {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
  }

  .navbar-top-scale {
    height: 160px;
  }

  .navbar-bottom-scale {
    height: 40px;
  }

  .navbar-dark {
    color: #fff;
  }
  
  .font-sx {
    font-size: 1.0rem;
  }
  .font-sxb {
    font-size: 1.0rem;
    font-weight: bold;
  }

  .font-sxl {
    font-size: 1.3rem;
  }
  .font-sxlb {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .font-sm {
    font-size: 2rem;
  }
  .font-smb {
    font-size: 2rem;
    font-weight: bold;
  }

  .font-sml {
    font-size: 2.5rem;
  }
  .font-smlb {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .font-md {
    font-size: 3rem;
  }
  .font-mdb {
    font-size: 3rem;
    font-weight: bold;
  }

  .font-mdl {
    font-size: 3.7rem;
  }
  .font-mdlb {
    font-size: 3.7rem;
    font-weight: bold;
  }

  .font-lg {
    font-size: 4.5rem;
  }
  .font-lgb {
    font-size: 4.5rem;
    font-weight: bold;
  }

  .font-lgl {
    font-size: 5.5rem;
  }
  .font-lglb {
    font-size: 5.5rem;
    font-weight: bold;
  }

  li.nav-item >  h3, h4, h5 {
    color: #FFF !important;
  }

  .section {
   height: 100%;  
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
}

  .mxs-auto {
    margin-top: auto;
    margin-bottom: auto;
  }